AUTH_SECRET="secret" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
# この環境変数必要なので消さないこと
AUTH_URL=http://localhost:3030

NEST_JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
example
example
-----END PRIVATE KEY-----"

NEST_JWT_ISS=
NEST_JWT_AUD=
NEST_GQL_URL=http://backend:3000/graphql
BFF_URL=http://frontend:3000

# ブラウザから参照する環境変数
NEXT_PUBLIC_GRAPHQL_URL=http://localhost:3010/graphql
NEXT_PUBLIC_GRAPHQL_WS_URL=http://localhost:3010/graphql