@import "tailwindcss";

/* Light theme */
:root {
  --color-background: #f7f7f7;
  --color-background-light: #fff;
  --color-surface: #cee3f8;
  --color-secondary: #b3cce6;
  --color-danger: #ff3000;
  --color-accent: #b3cce6;
  --color-text-primary: #222;
  --color-text-secondary: #aaa;
  --color-warning: #ff7500;
  --color-primary-light: #cee3f8;
  --color-primary: #336699;
  --font-size-xs: 2.5vw;
  --font-size-sm: 3vw;
  --font-size-base: 4vw;
  --font-size-lg: 5vw;
}

/* Dark theme */
.dark {
  --color-background: #1a1a1a;
  --color-background-light: #2a2a2a;
  --color-surface: #2a2a2a;
  --color-secondary: #3a3a3a;
  --color-danger: #ff3000;
  --color-accent: #3a3a3a;
  --color-text-primary: #f0f0f0;
  --color-text-secondary: #e0e0e0;
  --color-warning: #ffb300;
  --color-primary-light: #3a3a3a;
  --color-primary: #3a3a3a;
  --font-size-xs: 2.5vw;
  --font-size-sm: 3vw;
  --font-size-base: 4vw;
  --font-size-lg: 5vw;
}

@theme {
  --color-background: var(--color-background);
  --color-background-light: var(--color-background-light);
  --color-surface: var(--color-surface);
  --color-secondary: var(--color-secondary);
  --color-danger: var(--color-danger);
  --color-accent: var(--color-accent);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-warning: var(--color-warning);
  --color-primary-light: var(--color-primary-light);
  --color-primary: var(--color-primary);
  --font-size-xs: var(--font-size-xs);
  --font-size-sm: var(--font-size-sm);
  --font-size-base: var(--font-size-base);
  --font-size-lg: var(--font-size-lg);
}
